[submodule "contrib/SimpleBLE"]
	path = contrib/SimpleBLE
	url = https://github.com/OpenBluetoothToolbox/SimpleBLE.git
[submodule "contrib/rice"]
	path = contrib/rice
	url = https://github.com/jasonroelofs/rice/
